# Database
db.sqlite3

# Python bytecode
__pycache__/
*.pyc

# macOS
.DS_Store

# Virtual environment
env/
venv/
.venv/

# VS Code settings
.vscode/

# Other
*.log
.env
.env.*
*.env

# Ignore contents of audio_file and text_file in quizapp
quizapp/audio_file/
quizapp/text_file/

# Ignore migrations except for __init__.py
quizapp/migrations/
!quizapp/migrations/__init__.py

# Ignore pytest cache
.pytest_cache/
.coverage
htmlcov/